<% provide(:title, "About") %>

<section>
  <h1 class="text-center">About Us</h1>
  <hr class="short-line">
  <div class="text-center">
    <h3>What do we do?</h3>
    <ul class="list-inline">
      <li> Web Development</li>
      <li>Graphic Design</li>
    </ul>
  </div>
  <hr class="short-line">

</section>
