<% provide(:title, "Home") %>
<section class="jumbotron">
  <h1 class="text-center">
    <%= @present_phrase %>
  </h1>
</section>
<div class="row banner-area">
  <div class="col-md-6">
    <%= image_tag "banner-alien.jpeg", alt: 'Banner Alien', class: "img-responsive banner-img" %>
  </div>
  <div class="col-md-6">
    <p class="title-banner text-center">Quality</p>
    <p class="banner-parag">
      Here in OuterWorldCodes, we are crazy for <strong>quality</strong>, our code is our passion, your product is our commitment, you are part of the team, any changes will be welcomed as a new important feature to add. If it isn't <em>simple</em> and <em>clean</em> it isn't good enough.
    </p>
    <p class="banner-parag">
      Come and let us make your <em>dream product</em> true, we are sure you won't regret.
    </p>
    <p class="banner-parag small-text">
      ~ @OuterWorldCodes
    </p>
  </div>
</div>
<br>
<hr class="short-line">
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center title-banner"> Some History </h3>
  </div>
</div>
<div class="row">
</div>

<br>

