<% provide(:title, "Home") %>
<section class="jumbotron">
  <h1 class="text-center">
    <%= @present_phrase %>
  </h1>
</section>
<div class="row banner-area">
  <div class="col-md-6">
    <%= image_tag "banner-alien.jpeg", alt: 'Banner Alien', class: "img-responsive banner-img" %>
  </div>
  <div class="col-md-6">
    <p class="title-banner text-center">Quality</p>
    <p class="banner-parag">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis convallis elit. Suspendisse vehicula leo eget sapien porttitor euismod. Aliquam mauris sapien, mattis ut sagittis eu, volutpat ac lectus. Fusce venenatis congue ornare. Vestibulum cursus gravida quam vel auctor.
    </p>
    <p class="banner-parag">
      Donec eu tempus augue, vel lobortis ex. Sed aliquam feugiat lectus gravida ullamcorper. Sed at efficitur elit, vitae cursus erat. Quisque dictum felis eros, in hendrerit ante ultricies nec. Donec semper risus nec auctor semper. Donec vitae ex ut massa tempor mollis.
    </p>
  </div>
</div>

<br>

