@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.short-line {
  width: 40%;
  margin: 0 auto;
}

section {
  overflow: auto;
}

.jumbotron {
  h1.text-center {
    font-size: 1.9em;
    letter-spacing: 0.1em;
  }
}

.nav-title {
  padding-left: 10px;
  font-size: 1.3em;
  color: #11b500;
  font-weight: 500;
  opacity: 1.2;
  &:hover {
    color: #abfabf;
    transition-property: opacity color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0;
    opacity: 0.5;
  }
}

.outer-img {
  box-shadow: 0px 0px 5em aliceblue;
  border: 2px solid;
  border-radius: 45px;
  opacity: 0.95;
  &:hover {
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0;
    opacity: 0.6;
  }
}

.navbar-default {
  background: #8b008b;
  border: 1px groove #4b0082;
  .navbar-nav {
    padding-top: 1.4em;
    margin-bottom: 0px;
    li {
      a.tabs {
        color: #ffff00;
        font-weight: bold;
        &.active {
          color: #131411;
          background: #e6e1df;
          box-shadow: 0px 0px 7em #00ffff;
          opacity: 0.6;
        }
        &:hover {
          transition-property: background opacity color;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          transition-delay: 0;
          background: #e6e5ef;
          opacity: 0.9;
          color: #495c60;
        }
      }
    }
  }
}
