@import "bootstrap-sprockets";
@import "bootstrap";

$outer-color: #ffff00;
$outer-bg: #8b008b;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #f0ffff;
  min-height: 100%;
}

.short-line {
  width: 40%;
  margin: 0 auto;
}

section {
  overflow: auto;
}

.jumbotron {
  margin-top: -5px;
  h1.text-center {
    font-size: 1.9em;
    letter-spacing: -0.1px;
  }
}
.navbar-default {
  .navbar-toggle {
    border-color: aliceblue;
    .icon-bar {
      background-color: aliceblue;
    }
    &:hover {
      background-color: #008647;
    }
  }
}

.nav-title {
  padding-left: 10px;
  font-size: 1.3em;
  color: #11b500;
  font-weight: 500;
  opacity: 1.2;
  &:hover {
    color: #abfabf;
    transition-property: opacity color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0;
    opacity: 0.5;
  }
}

.outer-img {
  box-shadow: 0px 0px 5em aliceblue;
  border: 2px solid;
  border-radius: 45px;
  opacity: 0.95;
  &:hover {
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0;
    opacity: 0.6;
  }
}

.navbar-default {
  background: $outer-bg;
  border: 1px groove #4b0082;
  .navbar-nav {
    padding-top: 1.4em;
    margin-bottom: 0px;
    li {
      a.tabs {
        color: $outer-color;
        font-weight: bold;
        &.active {
          color: #131411;
          background: #e6e1df;
          box-shadow: 0px 0px 7em #00ffff;
          opacity: 0.6;
        }
        &:hover {
          transition-property: background opacity color;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          transition-delay: 0;
          background: #e6e5ef;
          opacity: 0.9;
          color: #495c60;
        }
      }
    }
  }
}


.foot-page {
  bottom:0;
  padding: 0.5em;
  min-height: 60px;
  background-color: $outer-bg;
  color: $outer-color;
  width: 100%;

  .row {
    width: 90%;
    margin: 0 auto;
    .foot-parag {
      text-align: center;
      margin: 0 auto;
      font-size: 1.5em;
      font-family: impact;
      height: 100%;
    }
    .striked {
      text-decoration: line-through;
    }
  }
  .foot-list {
    list-style-type: none;
    .list-elm {
      color: $outer-color;
      &:hover {
        font-family: impact;
      }
    }
  }
}


#alien-canva {
  max-height: 300px;
  height: 250px;
}

@media only screen and (max-width: 320px) {
.jumbotron {
  margin-top: -5px;
  h1.text-center {
    font-size: 1em;
    letter-spacing: -0.1px;
  }
}
.foot-page {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $outer-bg;
  color: $outer-color;

  img {
    height: 35px;
    width: 30px;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    .foot-parag {
      text-align: center;
      font-size: 0.8em;
      font-family: impact;
      letter-spacing: -0.1px;
    }
    .striked {
      text-decoration: line-through;
    }
    .col-xs-12 {
      margin-top: 5px;
      .line-divisor {
        border-top: 1px groove aliceblue;
        opacity: 0.6;
      }
    }
  }
  .foot-list {
    list-style-type: none;
    text-align: center;
    .list-elm {
      display: inline;
      font-size: 11px;
      float: left;
      $pad: 4px;
      padding-right: $pad;
      &:hover {
        font-family: none;
      }
    }
  }
}
#alien-canva {
  width: 100%;
}
}
